<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}">Insert title here</title>
</head>
<body>

	<h4 th:if="" th:text="${param.error}"></h4>

	<h1 th:text="${title}"></h1>
	
	<a th:href="@{/form}"> crear + </a>
	
	<table>
		<thead>
			<tr>
				<th>id</th>
				<th>nombre</th>
				<th>email</th>
				<th>GS</th>
				<th>creado</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="r: ${researchers}">
				<td th:text="${r.id}"></td>
				<td th:text="|${r.name} ${r.surname}|"></td>
				<td th:text="${r.email}"></td>
				<td th:text="${r.idGoogleScholar}"></td>
				<td th:text="${r.creationDate}"></td>
				<td >
					<a th:href="@{/form-v2/} + ${r.id}">Editar</a>
				</td>
			</tr>
		</tbody>
	</table>

</body>
</html>